body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=1060&t=st=1694507410~exp=1694508010~hmac=573a91c60efcb1d2886d981c699163d725827d985f6d94ef06617bd8bbc311a6'); /* Replace 'background.jpg' with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    height: 800px;
}

.container {
    position: relative;
    text-align: center;
    padding: 100px;
}

h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
}

p {
    color: #fff;
    font-size: 24px;
}

.email {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.delete-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ff0000; /* Change the color as desired */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000; /* Change the color for hover state */
}
